<launch>
    
    <!-- Start the rosserial node to connect to Arduino -->
    <node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen">
        <param name="port" value="/dev/ttyACM0"/>
        <param name="baud" value="57600"/>
    </node>

    <!-- Start the odometry calculator node -->
    <node pkg="odometry" type="odometry_calculator.py" name="odometry_node" output="screen"/>
    

    <!-- rviz launch file -->
    <include file="$(find robot_model)/launch/rviz.launch"/>

</launch>