<?xml version="1.0" ?>

<launch>
  
  <!-- Arguments --> 

  <!-- Map simulation -->
  <arg name="map_file" default="$(find mapping)/maps/map.yaml"/>
  <master auto="start"/>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>
  
  <!-- AMCL -->
  <include file="$(find navigation)/launch/amcl.launch"/>

  <!-- move_base -->
  <include file="$(find navigation)/launch/move_base.launch"/>

</launch>